@font-face {
    font-family: 'poppins';
    src: url(../fonts/Roboto-Light.ttf);
 }

 @font-face {
    font-family: 'poppinsBold';
    src: url(../fonts/Roboto-Medium.ttf);
 }

 @font-face {
    font-family: 'animal';
    src: url(../fonts/VTKS\ ANIMAL\ 2.ttf);
 }

 @font-face {
    font-family: 'animal2';
    src: url(../fonts/Seattle\ Avenue.ttf);
 }

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins';
}

:focus{
    outline: none;
}

body{
    background-image: linear-gradient(
        rgba(39, 39, 39, 0.769),rgba(29, 29, 29, 0.798)
    ), url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    margin: 50px auto;
    height: auto;
    display: flex;
    background: #006c1d;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/login.jpg');
    background-size: cover;
    background-position: center center;

}

.cantact_login{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/logearse.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #ddc23f; 
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    /* font-weight: 600; */
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form.form_contact h2{
    justify-content: center;
	font-size: 30px;
	/* font-weight: 600; */
    color: #ddc23f; 
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    /* font-weight: 600; */
    color: white;
}

form.form_contact input,
form.form_contact textarea{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #19a319;
    color: #000000; 
	font-size: 14px;
	/* font-weight: 400; */
}

form.form_contact input[type="submit"]{
    width: 180px;
    background: #ddc23f; 
	padding: 10px;
	border: none;
	border-radius: 25px;
    align-self: flex-end;
    color: #0f6725;
	font-size: 16px;
    /* font-weight: bold; */
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #07cf54;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	/* font-weight: 400; */
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	background: hsl(138, 86%, 46%);
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

/* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover{
    background: #3371B6;
}

.animal{
    font-family: 'poppinsBold';
}

.animal2{
    font-family: 'animal2';
}

.justificar{
    text-align: justify;
}

footer{
    background-color: #000000;
    height: 150px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

footer nav {
    display: flex;
    gap: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.login {
    display: none;
}
@media screen and (max-width: 500px) {
    .form_wrap{
        width: 400px;
        }
    }