@font-face {
    font-family: 'poppins';
    src: url(../fonts/Roboto-Light.ttf);
 }

 @font-face {
    font-family: 'poppinsBold';
    src: url(../fonts/Roboto-Medium.ttf);
 }

 @font-face {
    font-family: 'animal';
    src: url(../fonts/VTKS\ ANIMAL\ 2.ttf);
 }

 @font-face {
    font-family: 'animal2';
    src: url(../fonts/Seattle\ Avenue.ttf);
 }

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'poppins';

}
*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    /* background: #0e5522;   */
    /* background-image: linear-gradient( rgb(29, 81, 0),rgba(109, 159, 86, 0.44) ); */
    background-image: linear-gradient( rgba(221, 194, 63, 0.78),rgb(28, 87, 0) );
}

img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 122rem;
    margin: 0 auto;
}
h1 {
    font-size: 3.8rem;
    color: #f8f8f8;
    font-weight: bold;
}
h2 {
    font-size: 3.4rem;
    color: #fff;
}
h3 {
    font-size: 3rem;
    color: #fff;
}
h4 {
    font-size: 2.6rem;
    color: #fff;
}
p {
    color: #fff;
}
a {
    text-decoration: none;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}
.boton {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: #00ad26;
}
.boton-verde {
    background-color: #00ad26;
}
.site-header {
    background-color: rgb(0, 0, 0);
}
.site-header.inicio {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.87),rgba(113, 113, 113, 0.212)
    ), url(../img/portada.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 60rem;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}
.contenido-header label {
    text-align: center;
    font-size: 76px;
    line-height: 1.2;
    font-weight: 700;
    padding-top: 100px;
    color: #ddc23f; 
    font-size: 150px; 
    font-family: 'animal';
}
.barra {
    padding-top: 1rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    -webkit-text-stroke: 0.4px rgb(255, 255, 255);
    font-size: 2rem;
}

.mobile-menu img {
    width: 4rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}
@media (min-width: 768px)  {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}
.icono {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.699),rgba(69, 69, 69, 0.587)
    );
    background-size: cover;
    border-radius: 20px;
}
@media (min-width: 768px){
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }

    .icono2 {
        flex-basis: calc(33.3% - 1rem);
    }

    .icono3 {
        flex-basis: calc(33.3% - 1rem);
    }
}

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.anuncio {
    border: 1px solid var(--border-color-light);
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #00ad26;
    font-weight: 700;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    display: flex;

}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}
.imagen-contacto {
    background-image: linear-gradient(
        rgba(39, 11, 161, 0.3),rgba(17, 150, 211, 0.3)
    ), url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.contenido-contacto {
    flex: 0 0 95%;
    color: #12ee1d;
}
.contenido-contacto p {
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
}
.entrada-blog {
    padding: 10px;
}
@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
    }
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
        height: 153px;
        overflow: hidden;
    }
}
.texto-entrada a {
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 40rem;
    height: .5rem;
    background: #00ad26;
}
.texto-entrada span {
    color: #00ad26;
}
.site-footer {
    background-image: linear-gradient(
        rgba(39, 39, 39, 0.769),rgba(29, 29, 29, 0.798)
    ), url(../img/footer.jpg);
    background-size: cover;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }

}
copyright {
    margin: 0;
    color: rgb(31, 192, 98);
}


/**Nosotros**/
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
    color: rgb(216, 27, 36);
}

.animal{
    font-family: 'poppinsBold';
}

.justificar{
    text-align: justify;
}

.contenedor-anuncios{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: #0b2719;
}

.atractivos{
width: 400px;
flex-direction: column;
display: flex;
align-items: center;
padding-top: 30px;
padding-bottom: 30px;
}
.atractivos img{
    width: 300px;
    height: 300px;
    background: #0b2719;
    border-radius: 50%;
  }
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.atractivos label{
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.title{
    font-size: 25px;
}
.text-container{
    width: 350px;
    white-space: nowrap;
    background: #00ad26;
    text-overflow: ellipsis;
}

.ferias{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 20px;
}

.eventos{
    width: 600px;
    line-height: 20px;
    height: 170px; 
    overflow: hidden;
}

.titulo-entrada{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra {
    display: none;
}

.original{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.contenedor-informacion{
    width: 100%;
    padding: 20px;
}

.menos{
    color: blue;
    cursor: pointer;
}

.pad {
    padding: 12px;
}

.title-animal {
    font-family: 'animal';
}

.main-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.main-links li {
    padding:  0 5px 0 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
}

.dropdown-li {
    position: relative;
}

.dropdown-li:hover .dropdown {
    display: block;
    opacity: 1;
    transition: 1s;
}

.dropdown {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    display: none;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.dropdown input {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #f8f8f8;
    list-style: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}

.ir {
text-decoration: none;
color: white;
  background: green;
  padding: 6px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 10px;
    padding: 10px;
  }

.grid img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.grid img:hover {
    -webkit-transform:scale(1.40);
    -moz-transform:scale(1.40);
    -ms-transform:scale(1.40);
    -o-transform:scale(1.40);
    transform:scale(1.40);
    transition: 1s;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .anuncioss {
    display: flex; justify-content: space-evenly;
  }
  .pe{
    width: 690px; height: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .contenido-header label{
      font-size: 50px;
    }

    .contenedor-anuncios{
        display: contents;
    }

    .eventos{
        height: auto;
    }
    .btn-v{
        flex: auto;
    }
    .entrada-blog{
        display: flex;
    }
    body{
        line-height: 1.5;
    }
    .iconos-nosotros {
        padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
    }
    .anuncioss{
        display: block;
    }
    .v-line{
        display: none;
    }
    .case{
        display: contents;
    }
    .pe{
        width: auto;
    }
    .ver-todas {
        display: contents;
    }
    .rueda{
        display: none;
    }

  }


.ajustar {
    height: 600px;
}
.objeto {
object-fit: cover;
  width: 100%;
  height: 100%;
}
    
    .contenido_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenido_img figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .contenido_img figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenido_img figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 77, 26, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenido_img figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenido_img figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenido_img figure:hover > img{
        transform: scale(1.3);
    }
    .contenido_img figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenido_img figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

.buscador {
    background-color: black;
  padding: 5px 20px 0px 20px;
  border-radius: 21px;
}